@font-face {
    font-family: "shan";
    src: url("shan.eot"); /* IE9 */
    src: url("shan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("shan.woff") format("woff"), /* chrome、firefox */
    url("shan.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("shan.svg#shan") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


